<div class="banner" style="background-image: url('https://preview.ibb.co/kmNNJ0/spacex-549326-unsplash.jpg');">
  <div class="banner-content">
    <h1>IZMUS</h1>
    <p>Looking for a solution?</p>
    <%= link_to "Solve it!", new_form_path, class: "btn btn-primary btn-lg" %>
  </div>
</div>
